@font-face {
	font-family: "opensans";
	font-style: normal;
	font-weight: 800;
	src: url("/fonts/opensans-extrabold.ttf") format("truetype");
}

@font-face {
	font-family: "opensans";
	font-style: italic;
	font-weight: 800;
	src: url("/fonts/opensans-extraboldItalic.ttf") format("truetype");
}

@font-face {
	font-family: "recoleta";
	font-style: normal;
	font-weight: 900;
	src: url("/fonts/recoleta-black.ttf") format("truetype");
}

@font-face {
	font-family: "opensans";
	font-style: italic;
	font-weight: 700;
	src: url("/fonts/opensans-boldItalic.ttf") format("truetype");
}

@font-face {
	font-family: "recoleta";
	font-style: normal;
	font-weight: 100;
	src: url("/fonts/recoleta-thin.ttf") format("truetype");
}

@font-face {
	font-family: "recoleta";
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/recoleta-regular.ttf") format("truetype");
}

@font-face {
	font-family: "recoleta";
	font-style: normal;
	font-weight: 700;
	src: url("/fonts/recoleta-bold.ttf") format("truetype");
}

@font-face {
	font-family: "opensans";
	font-style: italic;
	font-weight: 400;
	src: url("/fonts/opensans-Italic.ttf") format("truetype");
}

@font-face {
	font-family: "opensans";
	font-style: normal;
	font-weight: 300;
	src: url("/fonts/opensans-light.ttf") format("truetype");
}

@font-face {
	font-family: "recoleta";
	font-style: normal;
	font-weight: 500;
	src: url("/fonts/recoleta-medium.ttf") format("truetype");
}

@font-face {
	font-family: "recoleta";
	font-style: normal;
	font-weight: 600;
	src: url("/fonts/recoleta-semibold.ttf") format("truetype");
}

@font-face {
	font-family: "recoleta";
	font-style: normal;
	font-weight: 300;
	src: url("/fonts/recoleta-light.ttf") format("truetype");
}

@font-face {
	font-family: "opensanslight";
	font-style: italic;
	font-weight: 400;
	src: url("/fonts/opensanslight-Italic.ttf") format("truetype");
}

@font-face {
	font-family: "opensans";
	font-style: normal;
	font-weight: 600;
	src: url("/fonts/opensans-semibold.ttf") format("truetype");
}

@font-face {
	font-family: "opensans";
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/opensans-regular.ttf") format("truetype");
}

@font-face {
	font-family: "opensans";
	font-style: italic;
	font-weight: 600;
	src: url("/fonts/opensans-semiboldItalic.ttf") format("truetype");
}

@font-face {
	font-family: "opensans";
	font-style: normal;
	font-weight: 700;
	src: url("/fonts/opensans-bold.ttf") format("truetype");
}