<div class="navbar">
  <div class="header__container">
    <div class="navbar__logo"><a href="/"><img src="/images/logo.svg" alt="innovative eye care"></a></div>
    <a href="#" class="navbar__opener"><span></span> <strong class="hidden">opener</strong></a>
    <div class="navbar__slide">
      <div class="navbar__slide__holder">
        <a href="#" class="navbar__opener navbar__opener--close"><span></span> <strong
          class="hidden">opener</strong></a>
        <div class="navbar__contact-info navbar__contact-info--in-slide">
          <ul class="navbar__contact-list">
            <li>
              <i class="icon-call-answer"></i>
              <span class="navbar__contact-list__title">City</span>
              <a href="tel:0882319341">(08) 8231 9341</a>
            </li>
            <br>
            <li>
              <i class="icon-call-answer"></i>
              <span class="navbar__contact-list__title">Woodville</span>
              <a href="tel:0884459050">(08) 8445 9050</a>
            </li>
          </ul>

        </div>
        <ul class="main-nav main-nav--floated-left">

          {{ $currentPage := . }}
          {{ range .Site.Menus.main }}
          {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}
          <li class="active">
            <a href="{{ .URL }}">
              {{ .Pre }}
              <span>{{ .Name }}</span>
            </a>
          </li>
          {{ else }}
          <li>
            <a href="{{ .URL }}">
              {{ .Pre }}
              <span>{{ .Name }}</span>
            </a>
          </li>
          {{ end }}
          {{ end }}

          <li><a href="http://eyesolutions.com.au/">Shop</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
</header>
