---
import Staff from "@parts/staff.astro";

const { heading, content, staff, leading } = Astro.props;

console.log({ props: Astro.props });

const allStaff = await Astro.glob("../../../content/author/*.md");

const profiles = allStaff
	.filter((profile) => staff.includes(profile.frontmatter.title))
	.sort(
		(a, b) =>
			staff.indexOf(a.frontmatter.title) -
			staff.indexOf(b.frontmatter.title)
	);
---

<style lang="scss">
	.content {
		max-width: 800px;
		margin: 20px auto;
	}
</style>

<>
	<h2>{heading}</h2>
	{leading && <div set:html={leading.html} />}
	<Staff profiles={profiles} />
	<div set:html={content.html} class="content" />
</>
