$primary: #608fc7;
$secondary: #19314d;
$background: #d0dff2;
$white: #fff;
$black: #000;

$neutral: $black;

$font_main: Open Sans, Arial, Helvetica Neue, Helvetica, sans-serif;
$font_headings: Recoleta, Arial, Helvetica Neue, Helvetica, sans-serif;
$font_heading: $font_headings;