{{ partial "header.html" . }}

{{ partial "topnav.html" . }}

<div class="content-section">
  <div class="container">
    <div class="content-section__haeding">
      <h1>Patient Resources</h1>
      <p>
        Your eye care routine will often involve at-home care which our
        informative team will instruct you in at your appointment. Here you will
        find useful follow-up resources on how to care for your contact lenses,
        insert your eye drops or complete your vision training exercises.
      </p>
    </div>
  </div>
  <div class="what-we-do-section">
    <ul class="what-we-do-list">
      <li class="what-we-do-box">
        <div
                class="what-we-do-inner hover-elem"
                style="background-image: url(/images/3-ContactLenses.jpg);"
        >
          <div class="overlay">
            <div class="services__icon">
              <img src="/images/icon01.png" alt="image description" />
            </div>
            <strong class="services__title">Contact Lens Instructions</strong>
          </div>
          <div class="what-we-do-inner__rollover opener">
            <div class="what-we-do-inner__rollover__box">
              <div class="what-we-do-inner__icon">
                <img src="/images/icon01.png" alt="image description" />
              </div>
              <strong class="name">Contact Lens Instructions</strong>
              <span class="description"
              >
                It's so important to care for your contact lenses correctly.
                Refresh yourself with these instructions.
              </span>
              <ul class="links">
                <li><a href="/patient-resources/care-of-orthokeratology-lenses"> Care of ortho-k lenses</a></li>
                <li><a href="/patient-resources/care-of-scleral-lenses"> Care of sclerals</a></li>
                <li><a href="/patient-resources/care-of-gas-permeable-lenses"> Care of gas permeable</a></li>
                <li><a href="/patient-resources/care-of-soft-disposable-contact-lenses"> Care of soft disposable</a></li>
                <li><a href="/patient-resources/tips-for-long-term-success-with-your-soft-disposable-contact-lenses">
                  Tips for long term success with soft disposables</a></li>
              </ul>
            </div>
          </div>
        </div>
      </li>
      <li class="what-we-do-box">
        <div
                class="what-we-do-inner hover-elem"
                style="background-image: url(/images/10-EyeDisease.jpg);"
        >
          <div class="overlay">
            <div class="services__icon">
              <img src="/images/icon07.png" alt="image description" />
            </div>
            <strong class="services__title">Vision Training</strong>
          </div>
          <div class="what-we-do-inner__rollover opener">
            <div class="what-we-do-inner__rollover__box">
              <div class="what-we-do-inner__icon">
                <img src="/images/icon07.png" alt="image description" />
              </div>
              <strong class="name">Vision Training</strong>
              <span class="description"
              >These exercises are used to improve binocular vision skills
                in conjunction with an ongoing program.</span>
              <ul class="links">
                <li><a href="/patient-resources/patching-therapy-for-amblyopia"> Patching therapy for amblyopia</a></li>
                <li><a href="/patient-resources/vision-training-with-focusing-flippers"> Vision training with focusing flippers</a></li>
                <li><a href="/patient-resources/vision-training-with-saccade-pyramids"> Vision training with saccade pyramids</a></li>
                <li><a href="/patient-resources/vision-training-with-binocular-string">Vision training with binocular string</a></li>
                <li><a href="/patient-resources/vision-training-with-loose-prisms"> Vision training with loose prisms</a></li>
                <li><a href="/patient-resources/vision-training-for-near-motility"> Vision training - extreme near motility</a></li>
                <li><a href="/patient-resources/vision-training-with-hart-charts"> Vision training with hart charts</a></li>
              </ul>
            </div>
          </div>
        </div>
      </li>
      <li class="what-we-do-box">
        <div
                class="what-we-do-inner hover-elem"
                style="background-image: url(/images/5-RefractiveConditions.jpg);"
        >
          <div class="overlay">
            <div class="services__icon">
              <img src="/images/icon02.png" alt="image description" />
            </div>
            <strong class="services__title">Everyday Eye Care</strong>
          </div>
          <div class="what-we-do-inner__rollover opener">
            <div class="what-we-do-inner__rollover__box">
              <div class="what-we-do-inner__icon">
                <img src="/images/icon02.png" alt="image description" />
              </div>
              <strong class="name">Everyday Eye Care</strong>
              <span class="description"
              >How does your lifestyle affect your eyes?
              Achieve your best eye health and vision every day.
              </span>
              <ul class="links">
                <span>Using eye drops correctly</span>
                <li><a href="/patient-resources/contact-lenses"> Digital eye strain</a></li>
                <li><a href="/patient-resources/soft-contact-lenses"> Driving and vision</a></li>
                <li><a href="/patient-resources/soft-contact-lenses"> Nutrition and supplements for ARMD</a></li>
              </ul>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div>
    <ul class="team">
      {{ range (where .Data.Pages "Type" "patient-resources") }}
      <li>
        <div
          style="border: 1px solid grey; padding: 10px; margin-left: 10px; margin-right: 10px; margin: 20px; text-align: center"
        >
          <a href="/patient-resources/{{ .File.BaseFileName }}">
            <img src="{{ .Params.Preview_Image }}" />
            <div class="title">{{ .Title }}</div>
            <div class="intro"></div>
          </a>
        </div>
      </li>
      {{end}}
    </ul>
  </div>

  {{ partial "footer.html" . }}
</div>
