{{ partial "header.html" . }}

{{ partial "topnav.html" . }}

<div class="content-section">
  <div class="employee-box open-close ">
    <div class="employee-slide ">
      <div class="employee-slide__inner" style="padding-top:10px;">
        <div class="container">
          <div class="content-wrap">
            <h1>{{ .Title }}</h1>
            <div class="employee-slide__row">
              <div class="employee-slide__col employee-slide__col-content">

                {{ .Content }}

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- {{ partial "online-booking.html" . }} -->

{{ partial "footer.html" . }}
