#wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-top: 0px;
}
#demo-2 {

	color: #666;
	font: 90%/180% Arial, Helvetica, sans-serif;
a {
	color: #69C;
	text-decoration: none;
}
a:hover {
	color: #F60;
}
h1 {
	font: 1.7em;
	line-height: 110%;
	color: #000;
}
p {
	margin: 0 0 20px;
}


input {
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}


input[type=search] {
	background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 55px;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: 130px;
	background-color: #fff;
	border-color: #66CC75;
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}


input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}

}


h2 {
  font: bold 23px/26px $montserat-font;

  @include media(">=tablet") {
    font-size: 44px;
    line-height: 48px;
  }

  @include media(">=desktop") {
    font-size: 54px;
    line-height: 58px;
  }
}

.container {
  max-width: 1430px;
  padding: 0 20px;
  margin: 0 auto;

  @include media(">=tablet") {
    padding: 0 15px;
  }
}

.hero-section {
  overflow: hidden;
}

.slideshow {
  position: relative;

  .slide {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;

    &.active {
      z-index: 2;
    }
  }
}

.hero-section__bg-holder {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;

  &:after {
    content: '';
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background: black(.5);
  }
}

.hero-section__container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 284px;

  @include media(">=tablet") {
    min-height: 480px;
  }

  @include media(">=desktop") {
    min-height: 994px;
  }
}

.hero-section__slide {
  &.active {
    .hero-section__description {
      opacity: 1;
      animation: movebox ease-in-out 1200ms;
    }
  }
}

.hero-section__description {
  @include animate(opacity);
  color: $white;
  font: 11px/14px $montserat-font;
  text-align: center;
  padding: 50px 0;
  opacity: 0;

  @include media(">=tablet") {
    font-size: 42px;
    line-height: 44px;
  }

  .btn {
    @include media("<tablet") {
      font-size: 10px;
      line-height: 14px;
      padding: 12px 29px;
      border-radius: 40px;
    }
  }
}

.hero-section__text-hold {
  padding: 0 0 16px;

  @include media(">=desktop") {
    padding: 0 0 12px;
  }
}

.hero-section__text {
  display: block;
  font-weight: normal;
  margin: 0 0 12px;

  @include media(">=tablet") {
    margin: 0 0 35px;
  }

  @include media(">=desktop") {
    margin: 0 0 82px;
  }
}

.hero-section__text--size2x {
  font-size: 22px;
  line-height: 30px;
  font-weight: bold;
  margin: 0 0 14px;

  @include media(">=tablet") {
    margin: 0 0 25px;
    font-size: 83px;
    line-height: 86px;
  }

  @include media(">=desktop") {
    margin: 0 0 50px;
  }
}

.btn {
  @include animate(background color);

  font: bold 7px/14px $montserat-font;
  color: $white;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: #3273f0;
  border: 0;
  margin: 10px;
  border-radius: 16px;
  display: inline-block;
  vertical-align: top;
  padding: 9px 15px;
  text-align: center;
  min-width: 120px;

  &:hover {
    color: $white;
    background: darken(#3273f0, 15%);
  }

  @include media(">=tablet") {
    font-size: 20px;
    line-height: 22px;
    border-radius: 50px;
    padding: 34px 30px;
    letter-spacing: 2px;
  }
}

.bth--large {
  @include media(">=tablet") {
    font-size: 24px;
    line-height: 28px;
    min-width: 360px;
    padding: 20px 15px;
  }

  @include media(">=desktop") {
    font-size: 30px;
    line-height: 34px;
    min-width: 410px;
    padding: 34px 20px;
  }
}

.btn--small {
  font-size: 7px;
  line-height: 14px;
  padding: 8px 10px;
  letter-spacing: 2px;
  min-width: 122px;

  @include media(">=tablet") {
    font-size: 10px;
    line-height: 14px;
    padding: 15px 10px 14px;
    min-width: 170px;
  }
}

.btn--transparent {
  background: rgba(50, 115, 240, .75);

  &:hover {
    background: #3273f0;
  }
}

.btn--white {
  background: $white;
  color: $gray;

  &:hover {
    background: $light-blue;
  }
}

.btn--light-blue {
  background: #5a95cd;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);

  &:hover {
    background: darken(#5a95cd, 15%);
  }
}

.content-section {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding: 32px 0 0 0;
  position: relative;
  z-index: 2;
  overflow: hidden;

  @include media(">=tablet") {
    padding: 75px 0 0;
  }
}

.what-we-do-section {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding: 0 0 0 0;
  position: relative;
  z-index: 2;
  overflow: hidden;

}

.content-section--gray {
  background: #f6f5f3;
}

.location-section {
  padding: 32px 0 17px;

  @include media(">=desktop") {
    padding: 103px 0 128px;
  }
}

.subscribe-section {
  padding: 42px 0 39px;

  @include media(">=desktop") {
    padding: 80px 0 100px;
  }

  .container {
    max-width: 1000px;
  }
}

.address-section {
  padding: 64px 35px 43px;

  @include media(">=desktop") {
    padding: 98px 35px 88px;
  }

  .content-section__haeding h2 {
    padding: 0 0 26px;
  }
}

.eye-care-section {
  padding: 77px 24px 46px;

  @include media(">=desktop") {
    padding: 107px 24px 122px;
  }
}

.simple-section {
  padding: 36px 0 30px;

  @include media(">=tablet") {
    padding: 53px 0 36px;
    min-height: 243px;
    display: flex;
    align-items: center;
  }

  .container {
    width: 100%;
    @include media("<tablet") {
      padding: 0 44px;
    }
  }
}

.join-section {
  padding: 30px 0 0;

  @include media(">=desktop") {
    padding: 68px 0 0;
  }
}

.container__wrap {
  position: relative;
  z-index: 3;

  @include media(">=desktop") {
    width: 80%;
  }

  .content-section__haeding {
    @include media(">=desktop") {
      text-align: left;

      h2 {
        &:after {
          transform: none;
          left: 0;
        }
      }
    }
  }
}

.container--left-postion {
  @include media(">=widescreen") {
    margin: 0 0 0 -11px;
  }
}

.content-section--white-color {
  color: $white;

  .content-section__haeding {
    h2 {
      &:after {
        background: $white;
      }
    }
  }

  .haeding__with-extra-border {
    &:after {
      background: $white;
      width: 30%;
    }
  }
}

.container--right-postion {
  @include media(">=desktop") {
    float: right;
    width: 62%;
  }
}

.content-section--with-overlay {
  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
  }
}

.blue--overlay {
  &:after {
    background: rgba(13, 78, 142, .75);
  }
}

.black--overlay {
  &:after {
    background: rgba(0, 0, 0, .7);
  }
}

.white--overlay {
  &:after {
    background: rgba(65, 61, 65, .55);
  }
}

.content-section__haeding {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin: 0 0 32px;

  @include media(">=tablet") {
    font-size: 26px;
    line-height: 24px;
    margin: 0 0 87px;
  }

  h2 {
    position: relative;
    margin: 0 0 5px;
    padding: 0 0 15px;
    letter-spacing: -1px;

    @include media(">=tablet") {
      padding: 0 0 11px;
      margin: 0 0 18px;
    }

    &:after {
      @include size(72px, 1px);

      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      background: $gray;

      @include media(">=tablet") {
        width: 170px;
        height: 2px;
      }
    }
  }

  p {
    margin: 0 0 10px;
  }
}

.heading--small-font {
  @include media(">=tablet") {
    font-size: 16px;
    line-height: 26px;
  }

  h2 {
    @include media(">=tablet") {
      margin: 0 0 15px;
    }
  }
}

.haeding--medium-font {
  font-size: 12px;
  line-height: 16px;

  @include media(">=desktop") {
    font-size: 18px;
    line-height: 28px;
  }

  h2 {
    @include media(">=desktop") {
      margin: 0 0 23px !important;
    }
  }

  p {
    @include media(">=desktop") {
      margin: 0 0 35px;
    }
  }
}

.haeding--large-heading {
  margin: 0 0 26px;

  h2 {
    font-size: 30px;
    line-height: 36px;
    text-transform: none;
    padding: 0;
    margin: 0 0 12px;

    @include media(">=tablet") {
      font-size: 54px;
      line-height: 58px;
    }
  }
}

.haeding--extra-large {
  margin: 0 0 22px;

  h2 {
    font-size: 45px;
    line-height: 50px;
    padding: 0 0 25px;

    &:after {
      width: 180px;
    }
  }

  @include media(">=tablet") {
    font-size: 50px;
    line-height: 54px;

    &:after {
      width: 240px;
    }
  }
}

.haeding--without-border {
  h2 {
    &:after {
      display: none;
    }
  }
}

.haeding__with-extra-border {
  position: relative;
  padding: 0 0 18px;
  margin: 0 0 22px;

  &:after {
    content: '';
    left: 50%;
    width: 76%;
    bottom: 0;
    position: absolute;
    transform: translateX(-50%);
    height: 2px;
    background: $gray;

    @include media(">=desktop") {
      width: 100%;
      height: 3px;
    }
  }
}

.text-uppercase {
  h2 {
    text-transform: uppercase;
  }
}

.content-section__sub-heding {
  font: 17px/20px $montserat-font;
  display: block;
  margin: 0 0 30px;

  @include media(">=tablet") {
    font-size: 30px;
    line-height: 32px;
  }
}

.content-section__add-heding {
  font-size: 20px;
  line-height: 25px;
  display: block;
  margin: 0 0 30px;

  @include media(">=desktop") {
    font-size: 25px;
    line-height: 30px;
    margin: 0 0 20px;
  }

}

.haeding__top-text {
  font: bold 28px/36px $montserat-font;
  display: block;
  margin: 0 0 12px;

  @include media(">=tablet") {
    font-size: 48px;
    line-height: 65px;
  }

  &.top-text--small {
    @include media("<tablet") {
      font-size: 20px;
      line-height: 24px;
    }
  }

  .large-text {
    @include media(">=tablet") {
      font-size: 54px;
      line-height: 58px;
    }
  }
}

.haeding__sub-text {
  font: 30px/40px $montserat-font;
  display: block;
  margin: 0 0 6px;

  @include media(">=tablet") {
    font-size: 35px;
    line-height: 40px;
  }
}

.heading__large-text {
  font: 28px/30px $montserat-font;
  text-transform: uppercase;
  display: block;

  @include media(">=tablet") {
    font-size: 54px;
    line-height: 58px;
  }
}

.heading__wrap {
  @include media(">=desktop") {
    max-width: 60%;
    margin: 0 auto;
  }
}

.content__text-wrap {
  font: 30px/38px $montserat-font;

  p {
    margin: 0 0 47px;
  }
}

.location {
  @include media(">=desktop") {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -40px;
  }
}

.location__item {
  text-align: center;
  font-family: $montserat-font;
  padding: 0 0 33px;

  @include media(">=tablet") {
    padding: 0 0 46px;
  }

  @include media(">=desktop") {
    width: 50%;
    padding: 0 40px;
  }
}


.who-we-are__header {
  min-height: 550px;
  @include media("<tablet") {
    min-height: 150px;
  }
}


.video-section__heading {
  margin-bottom: 20px;
}

.main-video__container {
  width: 80%;
  @include media(">=tablet") {
    width: 50%;
  }
  margin-left:auto;
  margin-right:auto;
  margin-top:50px;
  margin-bottom:50px;
}

.location__vid {
  margin: 0 auto 26px;
  width: 70% !important;
}

.video-js {
  position: relative !important;
  width: 100% !important;
  background-color: transparent!important;
  height: auto !important;
}

.vjs-poster {
  position: absolute !important;
  background-color: transparent!important;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}


.location__img {
  @include size(202px, 202px);

  overflow: hidden;
  border-radius: 50%;
  border: 3px solid $light-blue;
  margin: 0 auto 26px;

  @include media(">=tablet") {
    @include size(428px, 428px);

    border-width: 10px;
    margin-bottom: 84px;
  }

  a {
    display: block;
  }

  img {
    @include animate(transform);

    display: block;
  }
}

.location__address {
  font-style: normal;
  margin: 0;
}

.location__title {
  font-size: 21px;
  line-height: 24px;
  text-transform: uppercase;
  color: $light-blue;
  letter-spacing: 2px;
  display: block;
  margin: 0 0 10px;

  @include media(">=tablet") {
    font-size: 46px;
    line-height: 48px;
    margin: 0 0 29px;
  }
}

.location__text {
  font-size: 13px;
  line-height: 16px;
  display: block;
  margin: 0 0 6px;

  @include media(">=tablet") {
    font-size: 28px;
    line-height: 35px;
    margin: 0 0 22px;
  }
}

.location__phone {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: $gray;
  letter-spacing: 2px;
  display: block;
  margin: 0 0 -2px;

  @include media(">=tablet") {
    font-size: 35px;
    line-height: 40px;
    margin: 0 0 16px;
  }
}

.location__email {
  font-size: 12px;
  line-height: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  word-wrap: break-word;

  @include media(">=tablet") {
    font-size: 25px;
    line-height: 28px;
  }

  &:hover {
    color: $gray;
  }
}

.services {
  @extend %listreset;

  text-transform: uppercase;
  color: $white;
  text-align: center;

  @include media(">=tablet") {
    display: flex;
    flex-wrap: wrap;
  }

  li {
    border-bottom: 6px solid $light-blue;
    position: relative;
    z-index: 2;

    @include media(">=tablet") {
      width: 50%;
    }

    @include media(">=desktop") {
      width: 33.33%;
    }
  }

  a {
    display: block;
    position: relative;

    &:hover {
      &:after {
        opacity: 1;
        visibility: visible;
      }
    }

    &:after {
      @include animate(opacity visibility);

      content: '';
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      background: rgba(13, 78, 142, .75);
      visibility: hidden;
      opacity: 0;
    }
  }

}

.services__bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}



.services__caption {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 375px;

  @include media(">=tablet") {
    min-height: 490px;
  }
}

.services__wrap {
  padding: 20px;
}

.services__icon {
  @include size(140px, 138px);

  margin: 0 auto 9px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(">=tablet") {
    @include size(auto, 138px);

    margin: 0 auto 38px;

  }
  img {
    display: block;
    margin-left: 15px;
    width: 150px;

    @include media("<tablet") {
      width: 150px;
      max-width: none;
    }
  }
}

.services__title {
  font: bold 17px/20px $montserat-font;
  color: $white;
  text-transform: uppercase;
  display: block;

  @include media(">=tablet") {
    font-size: 27px;
    line-height: 30px;
  }
}

.team {
  @extend %listreset;

  @include media(">=tablet") {
    display: flex;
    flex-wrap: wrap;
  }

  li {
    @include media(">=tablet") {
      width: 50%;
    }

    @include media(">=desktop") {
      width: 25%;
    }
  }

  a {
    display: block;
    position: relative;

    &:hover {
      &:after {
        opacity: 1;
        visibility: visible;
      }
    }

    &:after {
      @include animate(opacity visibility);

      content: '';
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      background: rgba(13, 78, 142, .75);
      visibility: hidden;
      opacity: 0;
    }
  }

  img {
    display: block;
    width: 100%;
  }
}

.browser-preview {
  position: relative;
  z-index: 2;
  margin: 0 5px 0 11px;
  overflow: hidden;

  img {
    display: block;
    width: 100%;
  }

  @include media(">=desktop") {
    margin: -18px -2px 0 24px;
  }
}

.decorate-image {
  position: absolute;
  left: 0;
  margin-top: -45px;

  img {
    @include media("<tablet") {
      width: 98px;
    }
  }

  @include media(">=tablet") {
    left: -100px;
  }

  @include media(">=desktop") {
    margin-top: -204px;
  }

  @include media(">=desktop-lg") {
    left: 0;
  }
}

.decorate-image--right {
  left: auto;
  right: 18px;
  margin-top: -48px;

  @include media("<tablet") {
    img {
      width: 56px;
    }
  }

  @include media(">=tablet") {
    right: -100px;

    img {
      width: auto;
    }
  }

  @include media(">=desktop") {
    margin-top: -257px;
  }

  @include media(">=widescreen") {
    right: 210px;

    img {
      width: auto;
    }
  }
}

.image__cup {
  left: auto;
  bottom: -16px;
  right: -30px;

  @include media("<tablet") {
    img {
      width: 59px;
    }
  }

  @include media(">=tablet", "<desktop") {
    bottom: -192px;
    right: -100px;
  }

  @include media(">=desktop") {
    right: 22px;
    bottom: -43px;
  }

}

.form__subscribe {
  position: relative;
  text-align: center;

  @include media("<tablet") {
    max-width: 284px;
    margin: 0 auto;
  }

  @include media(">=tablet") {
    max-width: 572px;
    margin: 64px auto 0;
  }

  .form__input-wrap {
    background: rgba(249, 249, 249, .1);
    border: 1px solid rgba(249, 249, 249, .2);
    border-radius: 60px;
    margin: 0 0 20px;

    @include media(">=tablet") {
      padding: 0 200px 0 0;
      margin: 0 0 48px;
    }
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"] {
    background: none;
    border: none;
    font: 10px/14px $montserat-font;
    color: $white;
    padding: 0 20px;
    margin: 0 auto;
    height: 33px;
    width: 100%;
    outline: none;
    text-align: center;
    letter-spacing: 2px;

    @include media(">=tablet") {
      height: 60px;
      text-align: left;
      padding: 2px 30px 0;
    }

    @include placeholder {
      color: $white;
      font-weight: bold;
      text-transform: uppercase;
    }
  ;

    &:invalid {
      border: none;
      box-shadow: none;
    }
  }

  .btn {
    display: block;
    margin: 0 auto 37px;

    @include media(">=tablet") {
      @include size(170px, 45px);

      position: absolute;
      right: 10px;
      top: 8px;
      font-size: 10px;
      line-height: 14px;
      height: 45px;
      margin: 0;
      padding: 17px 15px;
      letter-spacing: 2px;
      min-width: 0;
    }
  }
}

.form__help-text {
  display: block;
  font-size: 11px;
  line-height: 14px;

  @include media(">=tablet") {
    font-size: 14px;
    line-height: 16px;
  }

  a {
    color: $white;

    &:hover {
      text-decoration: underline;
    }
  }
}

.address-information {
  @include media(">=tablet") {
    display: flex;
    align-items: center;
  }

  .container__wrap {
    width: auto;
  }
}

.address__image {
  margin: 0 auto 52px;
  width: 202px;

  @include media(">=desktop") {
    width: 360px;
    margin: 0 53px 0 0;
  }

  img {
    display: block;
  }

  a {
    display: block;
  }
}

.address__list {
  @extend %listreset;

  font: bold 17px/25px $montserat-font;
  padding: 16px 0 0;

  @include media(">=desktop") {
    font-size: 30px;
    line-height: 34px;
    padding: 6px 0 0;
    letter-spacing: -1px;
  }

  li {
    position: relative;
    padding: 20px 0 0 44px;

    @include media(">=desktop") {
      padding: 48px 0 0 73px;
    }

    &:first-child {
      padding-top: 0;
    }
  }

  i {
    position: absolute;
    left: 0;
    top: 0;
  }

  .icon-location {
    font-size: 28px;
    top: 6px;
    left: 8px;

    @include media(">=desktop") {
      font-size: 46px;
      left: 13px;
      top: -4px;
    }
  }

  .icon-hands {
    font-size: 27px;
    top: 19px;
    left: 3px;

    @include media(">=desktop") {
      font-size: 45px;
      top: 42px;
      left: 4px;
    }
  }

  .icon-smile {
    font-size: 25px;
    left: 7px;
    top: 20px;

    @include media(">=desktop") {
      font-size: 42px;
      left: 10px;
      top: 44px;
    }
  }
}

.icon-logo {
  position: absolute;
  right: -68px;
  bottom: -144px;
  z-index: -1;
  width: 241px;

  @include media(">=tablet") {
    right: -53px;
    bottom: -87px;
    width: 465px;
  }
}

.icon-logo--left {
  right: auto;
  left: 0;
  width: 200px;

  @include media(">=desktop") {
    width: 335px;
    bottom: -161px;
  }
}

.ipl-section {
  @include media(">=desktop") {
    padding: 64px 0 130px;
  }

  .haeding__with-extra-border {
    @include media(">=desktop") {
      padding: 0 0 53px;
      margin: 0 0 60px;
    }
  }
}

.ipl-section__sub-heading {
  font: bold 25px/35px $montserat-font;
  display: block;
  margin: 0 0 51px;

  @include media(">=desktop") {
    font-size: 48px;
    line-height: 65px;
    max-width: 85%;
    margin: 0 auto 68px;
  }
}

.three-columns {
  @include media("<tablet") {
    padding: 0 0 100px;
  }
  @include media("<desktop") {
    .height {
      height: auto !important;
    }
  }

  @include media(">=desktop") {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -40px;
  }
}

.three-columns__item {
  text-align: center;
  font: 15px/22px $montserat-font;
  padding: 0 0 29px;

  @include media("<tablet") {
    max-width: 220px;
    margin: 0 auto;
  }

  @include media(">=tablet") {
    padding: 0 0 46px;
    font-size: 20px;
    line-height: 30px;
  }

  @include media(">=desktop") {
    width: 33.33%;
    padding: 0 40px;
  }
}

.roundered__img {
  @include size(218px, 218px);

  overflow: hidden;
  border-radius: 50%;
  border: 10px solid $white;
  margin: 0 auto 35px;

  @include media(">=tablet") {
    @include size(284px, 284px);

    margin-bottom: 53px;
  }

  a {
    display: block;
  }

  img {
    display: block;
    width: 100%;
  }
}

.roundered__title {
  font-size: 21px;
  line-height: 34px;
  text-transform: uppercase;
  color: $light-blue;
  letter-spacing: 2px;
  display: block;
  margin: 0 0 6px;

  @include media(">=tablet") {
    font-size: 30px;
    line-height: 36px;
    margin: 0 0 13px;
  }

  a {
    color: $white;

    &:hover {
      color: $light-blue;
    }
  }
}

.eye-problems-section {
  padding: 31px 0 54px;

  @include media(">=tablet") {
    padding: 58px 0 47px;
  }

  .container {
    @include media("<tablet") {
      padding: 0 58px;
    }
  }

  .content__text-wrap {
    font-size: 48px;
    line-height: 52px;

    @include media("<tablet") {
      font-size: 28px;
      line-height: 36px;
    }

    p {
      margin: 0 0 55px;
    }
  }
}

.eye-problems {
  @extend %listreset;

  margin: -1px 0 0;

  @include media(">=tablet") {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px 31px;
  }

  li {
    padding: 0 0 36px;

    @include media(">=tablet") {
      width: 33.33%;
      padding: 0 10px 20px;
    }

    @include media(">=desktop") {
      width: 20%;
    }
  }

  @include media("<tablet") {
    .height {
      height: auto !important;
    }
  }
}

.eye-problems__img {
  display: flex;
  align-items: center;
  margin: 0 0 32px;

  @include media(">=desktop") {
    margin: 0 0 22px;
  }

  img {
    display: block;
    margin: 0 auto;

    @include media("<tablet") {
      width: 76px;
    }
  }
}

.ipl__footer {
  border-top: 2px dotted $white;
  padding: 30px 0 0;
  max-width: 1393px;

  @include media(">=desktop") {
    padding: 33px 110px 0;
  }
}

.idl__promo-text {
  font: 28px/36px $montserat-font;
  letter-spacing: -1px;
  display: block;
  padding: 15px 10px 13px;
  margin: 0 0 19px;
  background: #4584c5;
  box-shadow: inset -3px -3px 2px 0 rgba(0, 0, 0, 0.1), inset 3px 3px 2px 0 rgba(255, 255, 255, 0.2);

  @include media(">=tablet") {
    font-size: 48px;
    line-height: 54px;
    padding: 10px 10px 9px;
    margin: 0 0 8px;
  }
}

.problems__title {
  font: bold 15px/18px $montserat-font;
  display: block;
  letter-spacing: 1px;

  @include media(">=tablet") {
    font-size: 17px;
    line-height: 20px;
  }
}

.source-link {
  @include animate(box-shadow);

  font: 20px/22px $montserat-font;
  color: $white;
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 5px 10px 7px 38px;
  background: #3471b9;
  box-shadow: inset -3px -3px 2px 0 rgba(0, 0, 0, 0.2), inset 3px 3px 2px 0 rgba(255, 255, 255, 0.2);

  @include media(">=tablet") {
    font-size: 25px;
    line-height: 30px;
    padding: 5px 10px 7px 47px;
  }

  &:hover {
    color: $white;
    box-shadow: inset -3px -3px 2px 0 rgba(255, 255, 255, 0.2), inset 3px 3px 2px 0 rgba(0, 0, 0, 0.2);
  }

  &:after {
    content: '\e90a';
    font: 14px/1 'icomoon';
    position: absolute;
    left: 12px;
    top: 10px;

    @include media(">=tablet") {
      font-size: 18px;
      top: 11px;
      left: 14px;
    }
  }
}

.symptoms-section {
  padding: 32px 0 0;

  @include media(">=desktop") {
    min-height: 1050px;
    padding: 125px 0 39px;
  }
}

.symptoms-image {
  @include media(">=tablet") {
    position: absolute;
    right: -136px;
    bottom: -5px;
    z-index: -1;
    width: 36vw;
  }
}

.statistic-text {
  font: bold 30px/38px $montserat-font;
  display: block;
  margin: 0 -20px 25px;
  letter-spacing: 1px;

  @include media(">=tablet") {
    font-size: 56px;
    line-height: 58px;
    margin: 0 0 92px;
  }

  .small-text {
    font-size: 22px;
    line-height: 24px;
    font-weight: normal;
    display: block;
    margin: 0 0 4px;

    @include media(">=tablet") {
      font-size: 40px;
      line-height: 42px;
      margin: 0 0 6px;
    }
  }

  .large-text {
    font-size: 94px;
    line-height: 90px;
    display: block;
    margin: 0 0 13px;

    @include media(">=tablet") {
      font-size: 173px;
      line-height: 170px;
    }
  }
}

.symptoms-list {
  @extend %listreset;

  margin: 0 0 -26px;

  @include media(">=tablet") {
    display: flex;
    flex-wrap: wrap;
  }

  @include media(">=desktop") {
    margin: 0 -10px;
  }

  li {
    padding: 0 0 32px;

    @include media(">=tablet") {
      width: 50%;
      padding: 0 10px 40px;
    }

    @include media(">=desktop") {
      width: 33.3%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 10px 97px;
    }

    &:first-child {
      align-items: flex-end;
      text-align: left;

      @include media("<tablet") {
        width: 100%;
        padding: 0 0 17px;
      }
    }
  }

  img {
    display: block;
    margin: 0 auto 17px;
    width: 90px;
  }
}

.symptoms__img {
  margin: 0 0 17px;

  @include media(">=tablet") {
    margin: 0 auto 28px;
  }

  &.extra-size {
    @include media("<tablet") {
      margin-left: -21px;
    }
    @include media("<tablet") {
      img {
        width: 108px;
      }
    }
  }

  img {
    display: block;
    margin: 0 auto;
    width: 90px;

    @include media(">=tablet") {
      width: auto;
    }
  }
}

.symptoms__label {
  font: bold 18px/22px $montserat-font;
  letter-spacing: 1px;
  display: block;
  text-align: center;

  @include media(">=tablet") {
    font-size: 29px;
    line-height: 45px;
  }

  @include media("<desktop") {
    br {
      display: none;
    }
  }

  @include media(">=desktop") {
    text-align: left;
  }
}

.symptoms__title {
  font: bold 18px/20px $montserat-font;
  text-transform: capitalize;
  display: block;
  letter-spacing: 1px;

  @include media(">=tablet") {
    font-size: 29px;
    line-height: 32px;
  }
}

.img-on-absolute {

  @include media("<tablet") {
    background: url(../images/bg-box.jpg) no-repeat;
    text-align: right;
    margin: 0 0 20px;

    &.img__with-black-bg {
      background: $black;
    }

    img {
      width: 82%;
    }
  }

  img {
    display: inline-block;
    vertical-align: top;
    width: 20vw;

    @include media(">=desktop") {
      width: 47vw;
    }
  }

  &.img-right {
    @include media(">=tablet") {
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  &.img-left {
    text-align: left;

    @include media(">=tablet") {
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}

.lenses-information {
  padding: 0 0 6px;
  position: relative;
  z-index: 2;
  background: #1e1e1e;

  @include media("<tablet") {
    background-image: none !important;
    background: #1e1e1e;
  }

  @include media(">=tablet") {
    padding: 0 0 40px;
  }

  @include media(">=desktop") {
    padding: 91px 0 119px;
  }

  .container {
    padding: 0 15px;
  }

  .container__wrap {
    @include media("<desktop") {
      width: 100%;
    }
  }

  .content-section__haeding {
    margin: 0 0 14px;

    @include media(">=tablet") {
      margin: 0 0 66px;
    }
  }
}

.lenses-info {
  @extend %listreset;

  display: flex;
  font-size: 10px;
  line-height: 14px;
  flex-wrap: wrap;
  text-align: center;
  margin: 0 0 5px;

  @include media("<tablet") {
    justify-content: center;
  }

  @include media(">=tablet") {
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 16px;
  }

  li {
    width: 50%;
    padding: 0 20px 20px;

    @include media(">=tablet") {
      width: 30%;
    }
    @include media(">=desktop") {
      width: 20%;
    }
  }
}

.lenses__image {
  margin: 0 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    display: inline-block;
    vertical-align: top;

    @include media("<tablet") {
      width: 46px;
      height: auto;
    }
  }
}

.lenses-info__title {
  font: bold 13px/16px $montserat-font;
  text-transform: uppercase;
  display: block;
  margin: 0 0 8px;

  @include media(">=tablet") {
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 2px;
    margin: 0 0 11px;
  }
}

.bg-holder {
  @include media("<desktop") {
    margin: 0 0 18px;

    img {
      width: 193%;
      margin-left: -93%;
      max-width: none;
    }
  }

  @include media(">=desktop") {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
}

.bg--left-position {
  @include media("<desktop") {
    img {
      margin: 0;
    }
  }
}

.lenses-holder {
  @include media(">=tablet") {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    margin: 0 0 -3px;
  }
}

.lenses__list {
  font: bold 14px/23px $montserat-font;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto 22px;
  display: flex;
  width: 330px;

  @include media("<phone") {
    width: 290px;
  }

  @include media(">=tablet") {
    border-bottom: 3px solid $white;
    border-right: 3px solid $white;
    margin: 0 0 -3px;
    width: 42%;
    font-size: 16px;
    line-height: 18px;
  }

  @include media(">=desktop") {
    width: 36%;
  }

  @include media(">=1350px") {
    font-size: 20px;
    line-height: 33px;
  }

  &.lenses--small-width {
    @include media("<tablet") {
      dt {
        width: 100%;
        min-height: 0;

        &:after {
          display: none;
        }
      }
    }

    @include media(">=tablet") {
      width: 16%;
      border-right: none;

      dt {
        border: none;
        width: 100%;
      }
    }
  }

  span {
    text-align: center;
    display: block;
    width: 100%;
  }

  dt {
    width: 50%;
    min-height: 56px;
    padding: 5px 10px 5px 0;
    text-align: left;
    position: relative;
    display: flex;
    align-items: center;

    @include media("<tablet") {
      padding: 5px 10px;

      span {
        text-align: center;
      }

      &:after {
        content: '';
        border-right: 2px solid $white;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
      }
    }

    @include media(">=tablet") {
      width: 46%;
      padding: 20px 7px 16px 0;
      border-right: 3px solid $white;
    }

    &:only-child {
      @include media("<tablet") {
        border: none;
        width: 100%;
        text-align: center;
        min-height: 0;

        &:after {
          display: none;
        }
      }
    }
  }

  dd {
    color: $light-blue;
    width: 50%;
    min-height: 56px;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 5px 10px;

    @include media(">=tablet") {
      width: 54%;
      padding: 20px 7px 16px;
    }
  }
}

.ortho-section {
  padding: 0 0 45px;
  background: $black;
  text-align: center;

  @include media(">=desktop") {
    padding: 80px 0 113px;
    text-align: left;
  }

  @include media(">=desktop") {
    padding: 149px 0 88px;
  }

  .bg-holder {
    @include media("<desktop") {
      margin: 0 0 29px;
    }
  }
}

.promo-text {
  font: 27px/32px $montserat-font;
  display: block;

  @include media(">=desktop") {
    font-size: 70px;
    line-height: 72px;
    padding: 10px 0 23px;
  }

  span {
    font-size: 55px;
    line-height: 55px;
    display: block;
    font-weight: bold;

    @include media(">=desktop") {
      font-size: 110px;
      line-height: 112px;
      padding: 25px 0 0;
    }
  }
}

.online-book-section {
  padding: 45px 0 39px;

  @include media(">=desktop") {
    padding: 170px 0 92px;
  }
}

.online-box {
  font: bold 20px/25px $montserat-font;
  color: #5c5c5e;
  padding: 0 0 0 11px;
  width: 70%;

  @include media(">=tablet") {
    width: 70%;
    margin: 0;
    padding: 0 0 0 54px;
  }

  @include media(">=desktop") {
    font-size: 45px;
    line-height: 54px;
  }

  p {
    margin: 0 0 14px;

    @include media(">=desktop") {
      margin: 0 0 45px;
    }
  }

  .btn {
    @include media("<tablet") {
      font-size: 9px;
      padding: 12px 45px;
    }
  }
}

.online-box-heading {
  margin: 0 0 16px;

  @include media(">=desktop") {
    margin: 0 0 38px;
  }

  h2 {
    font-size: 23px;
    line-height: 26px;
    color: $gray;

    @include media(">=desktop") {
      font-size: 54px;
      line-height: 60px;
    }
  }
}

@keyframes movebox {
  0% {
    transform: translateY(24px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.blue-color {
  color: $light-blue;

  a {
    color: $light-blue;

    &:hover {
      color: $gray;
    }
  }
}

.blue-border {
  border-color: #8eb3d7 !important;
}

.blue-bg {
  background: $light-blue;
}

/* helpers classes */
.hidden {
  position: absolute;
  left: -9999px;
  top: -9999px;
  overflow: hidden;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;

  span {
    text-align: left;
  }
}

.full-width {
  max-width: none;
  width: 100%;
}

.intro-section {
  padding: 35px 0 70px;
  background-size: cover;
  background-position: 50% 0%;
  position: relative;
  @include media(">=desktop") {
    padding: 70px 0 90px;
  }
}

.intro-section__wrap {
  max-width: 1265px;
  margin: 0 auto;
}

.intro-section__heading {
  padding-bottom: 14px;
  margin-bottom: 26px;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    background: $black;
    height: 2px;
    width: 170px;
  }

  h2 {
    margin: 0;
  }
}

.intro-section__row {
  line-height: 1.74;
  @include media(">=tablet") {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }
  @include media(">=desktop") {
    margin: 0 -60px;
  }
}

.intro-section__col {
  @include media(">=tablet") {
    padding: 0 15px;
  }
  @include media(">=desktop") {
    padding: 0 60px;
  }

  &.intro-section__col_sidebar {
    @include media(">=tablet") {
      width: 36%;
    }
  }

  &.intro-section__col_content {
    margin-bottom: 50px;
    @include media(">=tablet") {
      width: 64%;
      margin: 0;
    }
  }

  p {
    margin: 0 0 25px;
  }

  h3 {
    font: bold 18px/1.1 $montserat-font;
    margin: 0 0 20px;
    @include media(">=tablet") {
      font-size: 25px;
    }
    @include media(">=desktop") {
      font-size: 37px;
    }
  }
}

.intro-section__list {
  @extend %listreset;

  text-transform: uppercase;
  font: bold 16px/1.2 $montserat-font;
  @include media(">=desktop") {
    font-size: 20px;
  }

  li {
    margin: 0 0 20px;
    padding: 8px 0;
    padding-left: 60px;
    position: relative;
    @include media(">=desktop") {
      padding-left: 75px;
    }
  }

  .ico-holder {
    position: absolute;
    left: 0;
    z-index: 5;
    top: 50%;
    transform: translateY(-50%);
    width: 45px;
    height: 45px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    line-height: 1;
    font-size: 20px;
    color: $white;
    background: #4d8fcb;
    border-radius: 50%;

    i.icon-intro-sixth {
      font-size: 13px;
    }

  }
}

.btn_medium {
  letter-spacing: 2px;
  @include media(">=tablet") {
    font-size: 15px;
    padding: 20px;
    min-width: 255px;
  }
}

.timeline-section {
  padding: 72px 0;
  margin-top: -7px;
  position: relative;
  z-index: 2;
  @include media(">=tablet") {
    padding: 120px 0;
  }
  @include media(">=desktop") {
    padding: 170px 0 150px;
  }
}

.intro-section__rectangle {
  position: absolute;
  left: 0;
  min-width: 1920px;
  bottom: 0;
  z-index: 3;
  @include media(">=1920px") {
    min-width: 100%;
    right: 0;
  }
}

.timeline-section__timeline-wrap {
  max-width: 1020px;
  margin: 0 auto;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 6px;
    background: #939598;
  }
}

.timeline-list {
  @extend %listreset;

  position: relative;
  z-index: 5;
  margin: 0;
  padding: 20px 0;
  font: 16px/1.4 $montserat-font;
  @include media(">=tablet") {
    padding: 20px 0 80px;
  }
  @include media(">=desktop") {
    font-size: 18px;
  }

  .timeline__item {
    margin: 0 0 60px;
    position: relative;
    @include media(">=tablet") {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -55px;
    }

    &.timeline__item_1 {
      @include media(">=tablet") {
        transform: translateY(-50px);
      }
    }

    &.timeline__item_2 {
      @include media(">=tablet") {
        transform: translateY(15px);
      }
    }

    &.timeline__item_3 {
      @include media(">=tablet") {
        transform: translateY(-13px);
      }
    }

    &.timeline__item_5 {
      @include media(">=tablet") {
        transform: translateY(-90px);
      }
    }

    &.timeline__item_6 {
      @include media(">=tablet") {
        transform: translateY(-65px);
      }
    }

    &.timeline__item_7 {
      @include media(">=tablet") {
        transform: translateY(-55px);
      }
    }

    &.timeline__item_8 {
      @include media(">=tablet") {
        transform: translateY(55px);
      }
    }

    &.timeline__item_9 {
      @include media(">=tablet") {
        transform: translateY(30px);
      }
    }
  }

  .timeline__item__holder {
    @include media(">=tablet") {
      width: 50%;
      padding: 0 55px;
    }
  }

  .timeline__title {
    font-size: 25px;
    display: block;
    color: inherit;
    line-height: 0.7;
    padding: 0 15px;
    @include media(">=tablet") {
      font-size: 40px;
      padding: 0 35px;
    }
    @include media(">=desktop") {
      font-size: 54px;
    }
  }

  .timeline__content {
    @include media("<tablet") {
      text-align: center;
    }
    color: $white;
    padding: 15px;
    position: relative;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
    @include media(">=tablet") {
      display: inline-block;
      vertical-align: top;
      padding: 20px 35px;
    }

    &:after {
      content: '';
      position: absolute;
      right: 50%;
      top: 100%;
      transform: translateX(50%);
      @include media(">=tablet") {
        transform: translateY(-50%);
        top: 50%;
      }
    }

    &:before {
      content: '';
      position: absolute;
      width: 24px;
      height: 24px;
      background: url(../images/img-circle.png) no-repeat;
      background-position: 50% 50%;
      background-size: cover;
      bottom: -45px;
      left: 50%;
      transform: translateX(-50%);
      @include media(">=tablet") {
        bottom: auto;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    p {
      margin: 0;
    }
  }
}

.timeline__item__holder_alignright {
  color: #4d8fc9;

  .timeline__content {
    background: #4885bb;
    @include media(">=tablet") {
      background: rgba(#4885bb, .9);
    }

    &:after {
      @include triangle(30px, #155d94, down);
      @include media(">=tablet") {
        @include triangle(40px, #155d94, left);
        right: 100%;
      }
    }

    &:before {
      @include media(">=tablet") {
        left: auto;
        right: 100%;
        margin: 0 43px 0 -43px;
      }
    }
  }
}

.timeline__item__holder_alignleft {
  color: #414042;
  @include media(">=tablet") {
    text-align: right;
  }

  .timeline__content {
    background: #3b3a3c;
    @include media(">=tablet") {
      background: rgba(#3b3a3c, .9);
    }

    &:after {
      @include triangle(30px, #414042, down);
      @include media(">=tablet") {
        @include triangle(40px, #414042, right);

        right: auto;
        left: 100%;
      }
    }

    &:before {
      @include media(">=tablet") {
        left: 100%;
        margin: 0 -43px 0 43px;
      }
    }
  }
}

.year-box {
  background: url(../images/img-circle.png) no-repeat;
  font: bold 17px/1 $montserat-font;
  background-position: 50% 50%;
  background-size: cover;
  width: 81px;
  color: $white;
  padding: 10px;
  height: 81px;
  text-align: center;
  margin: 0 auto 20px;
  display: block;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 5;
}

.team-list {
  @extend %listreset;

  @include media(">=tablet") {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
  }

  .employee-box {
    //overflow: hidden;
    @include media(">=tablet") {
      width: 50%;
    }

    @include media(">=desktop") {
      width: 25%;
    }

    &.active {

      .employee-inner {

        &:after {
          opacity: 1;
          visibility: visible;
          transform: translateX(-50%);
          margin-top: 0;
        }
      }

    }
  }

  .employee-inner {
    width: 100%;
    position: relative;
    text-align: center;
    font: 18px/1.1 $montserat-font;

    &:after {
      @include animate(opacity visibility margin-top, .3s);

      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-top: 40px;
      transform: translateX(-50%);
      opacity: 0;
      visibility: hidden;
      @include triangle(40px, $white, up);
      @include media(">=widescreen") {
        @include triangle(100px 40px, $white, up);
      }
    }

    img {
      width: 100%;
      display: block;
      height: auto;
    }

    &.hover {

      .employee-inner__rollover {
        opacity: 1;
        visibility: visible;
        transform: none;
      }
    }

    .name {
      text-transform: uppercase;
      display: block;
      padding-bottom: 15px;
      margin-bottom: 15px;
      position: relative;
      font-size: 20px;
      width: 100%;
      @include media(">=tablet") {
        font-size: 22px;
      }
      @include media(">=widescreen") {
        font-size: 30px;
        padding-bottom: 20px;
        margin-bottom: 20px;
      }

      &:after {
        position: absolute;
        height: 1px;
        width: 160px;
        background: $white;
        content: '';
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .position {
      display: block;
      width: 100%;
      margin-bottom: 30px;
      @include media(">=widescreen") {
        margin-bottom: 60px;
        font-size: 24px;
      }
    }
  }

  .btn-opener {
    display: block;
    width: 100%;
    @include animate(opacity);

    font-size: 30px;
    @include media(">=tablet") {
      font-size: 45px;
    }
    @include media(">=widescreen") {
      font-size: 80px;
    }

    &:hover {
      opacity: .6;
    }
  }
}

.what-we-do-list {
  @extend %listreset;

  li {
  }

  @include media(">=tablet") {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
  }


  .what-we-do-box {
    //overflow: hidden;


    border-bottom: 6px solid $light-blue;
    height: 450px;

    @include media(">=tablet") {
      width: 50%;
    }

    @include media(">=desktop") {
      width: 33.333%;
    }

    &.active {

      .what-we-do-inner {

        &:after {
          opacity: 1;
          visibility: visible;
          transform: translateX(-50%);
          margin-top: 0;
        }

      }

    }
  }

  .what-we-do-box-double {

    @include media("<desktop") {
      display:none;
    }

    @include media(">=desktop") {
      width: 66.666%;
    }

    .haeding__top-text {
      padding-top:20px;
      font-size:40px;
      line-height:50px;
    }


    .promo-text {
      font-size:45px;
      line-height:60px;
    }

    .promo-text span {
      font-size:60px;
      line-height:70px;
    }

  }

  .what-we-do-inner {
    overflow: hidden;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    padding-bottom: 0px;
    font: 18px/1.1 $montserat-font;

    &:after {
      @include animate(opacity visibility margin-top, .3s);

      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-top: 40px;
      transform: translateX(-50%);
      opacity: 0;
      visibility: hidden;
      @include triangle(40px, $white, up);
      @include media(">=widescreen") {
        @include triangle(100px 40px, $white, up);
      }
    }

    img {
      height: 100%;
      width: auto;
      display: block;
    }

    .overlay {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $white;
      text-transform: uppercase;
      padding-bottom: 15px;
      margin-bottom: 15px;
      font-size: 20px;
      @include media(">=tablet") {
        font-size: 22px;
      }
      @include media(">=widescreen") {
        font-size: 30px;
        padding-bottom: 20px;
        margin-bottom: 20px;
      }

      img {
        width: 60%;
        height: auto;
      }

    }

    &.hover {

      .what-we-do-inner__rollover {
        opacity: 1;
        visibility: visible;
        transform: none;
      }
    }

    .name {
      text-transform: uppercase;
      display: block;
      padding-bottom: 15px;
      margin-bottom: 15px;
      position: relative;
      font-size: 20px;
      width: 100%;
      @include media(">=tablet") {
        font-size: 22px;
      }
      @include media(">=widescreen") {
        font-size: 30px;
        padding-bottom: 20px;
        margin-bottom: 20px;
      }

      &:after {
        position: absolute;
        height: 1px;
        width: 160px;
        background: $white;
        content: '';
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .description {
      display: block;
      margin-bottom: 15px;
      padding-bottom: 15px;
      position: relative;
      font-size: 17px;
      width: 100%;
      @include media(">=tablet") {
        font-size: 17px;
      }
      @include media(">=widescreen") {
        font-size: 24px;
      }

      &:after {
        position: absolute;
        height: 1px;
        width: 160px;
        background: $white;
        content: '';
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .what-we-do-inner__icon {
      position: absolute;
      left: 10px;
      top: 10px;

      img {
        width: auto;
        height: 40px;

      }
    }

    .links {
      display: block;
      width: 100%;
      text-align: left;
      margin-bottom: 30px;
      @include media(">=widescreen") {
        margin-bottom: 60px;
        font-size: 24px;
      }

      li {
        margin: 5px 0;
      }

      a {
        color: $white;
        font-size:15px;
        text-decoration: underline;
      }

    }

  }

}

.what-we-do-inner__rollover__box {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  //align-items: center;
  width: 100%;
  flex-direction: column;
}

.what-we-do-inner__rollover {
  @include animate(opacity visibility transform);

  background: rgba(#4e8fc9, 1.0);
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 15px;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transform: scale(0);
  color: $white;
  display: flex;
  flex-wrap: wrap;
  //align-items: center;
  //flex-direction: column;

  &:hover,
  &:focus {
    color: $white;
  }
}

.employee-inner__rollover__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  //align-items: center;
  width: 100%;
  flex-direction: column;
}

.employee-inner__rollover {
  @include animate(opacity visibility transform);

  background: rgba(#4e8fc9, .88);
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 15px;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transform: scale(0);
  color: $white;
  display: flex;
  flex-wrap: wrap;
  //align-items: center;
  //flex-direction: column;

  &:hover,
  &:focus {
    color: $white;
  }
}

.employee-slide__inner {
  padding: 40px 0;

  @include media(">=tablet") {
    padding: 60px 0;
  }
  @include media(">=desktop") {
    padding: 90px 0 113px;
  }

  .container {
    max-width: 1440px;

  }

  .content-wrap {
    line-height: 1.4;
    @include media(">=tablet") {
      border-left: 12px solid #4c8dc7;
      padding: 20px 0;
      padding-left: 20px;
      line-height: 1.8;
    }
    @include media(">=desktop") {
      padding-left: 35px;
    }
  }

  h1, h3 {
    font: bold 25px/1.1 $montserat-font;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: #4c8dc7;
    @include media(">=tablet") {
      margin-bottom: 10px;
    }
    @include media(">=desktop") {
      font-size: 35px;
    }
  }
}


.employee-slide__row {
  @include media(">=tablet") {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0 -20px;
  }
  @include media(">=desktop") {
    margin: 0 -35px;
  }

  .employee-heading {
    padding-bottom: 34px;
    margin-bottom: 34px;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      background: $black;
      height: 2px;
      width: 170px;
    }

    h4 {
      font: 20px/1.1 $montserat-font;
      margin: 0;
      @include media(">=desktop") {
        font-size: 28px;
      }
    }
  }
}

.employee-slide__col {
  margin-bottom: 25px;
  @include media(">=tablet") {
    padding: 0 20px;
    margin: 0;
  }
  @include media(">=desktop") {
    padding: 0 35px;
  }

  p {
    margin: 0 0 30px;

    &:last-of-type {
      margin: 0;
    }
  }
}

.employee-slide__col-content {
  @include media(">=tablet") {
    width: 60%;
  }
  @include media(">=desktop") {
    width: 71%;
  }
}

.employee-slide__col-sidebar {
  @include media(">=tablet") {
    width: 40%;
  }
  @include media(">=desktop") {
    width: 29%;
  }

}

.progress-list {
  @extend %listreset;

  font: bold 15px/1.1 $montserat-font;
  text-transform: uppercase;
  max-width: 330px;

  li {
    margin-bottom: 25px;
  }

  .progress-list__label {
    display: block;

    padding: 5px 10px;
  }
}

.progressbar {
  position: relative;
  border: 1px solid #747374;
  height: 14px;

  .line {
    position: absolute;
    top: 0;
    bottom: 0;
    background: #00a4df;
    width: 100%;
  }
}

.blog-list__button {
  background-color: rgba(128, 128, 128, 0.15);
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: bold;
  font-size: 12px;
  width: 100%;
  margin-top: 15px;
  line-height: 11px;
  word-spacing: 3px;
}

.blog-list__border-bottom {
  border-bottom: 1px solid #80808042;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 20px;
}

.blog-list__byline {
  color: black;
  font-weight: 100;
  font-size: 12px;
}

.blog-list__preview {
  color: black;
  font-weight: 100;
  font-size: 12px;
  margin-top: 20px;
  text-align: justify;
}

.blog-list {
  margin-left: auto;
  margin-right: auto;

  @include media(">=tablet") {
    width: 75%;
  }
}


.blog-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

.blog-list__title {
  font-weight: bold;
  font-size: 16px;
  height: 50px;
  margin-bottom: 15px;
  margin-top: 15px;
  color: #3b3d40;
  font-family: $montserat-font;
}


.blog-post__heading {
  color: black;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }


.blog-post-list {
  @extend %listreset;

  @include media(">=tablet") {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .blog-post-box {

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }


    color: black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    text-align: center;
    padding: 15px;

    @include media(">=tablet") {
      width: 50%;
    }

    @include media(">=desktop") {
      width: 33.333%;
    }

  }
}

.article-viewer img {
  width: 80%;
  height: auto;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: 20px;
  padding-bottom: 20px; }

.article-viewer {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  font-weight: 100;
  word-spacing: 3px;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 80%; }

h2 {
  color: black; }

h3 {
  color: black; }

.caption {
  text-align: center;
  font-style: italic;
  margin-top: -5px; }

.image-caption {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-style: italic;
  margin-top: -5px; }


.slide-content {
  display: none;
}
