---
import Team from "@blocks/team";
import Content from "@blocks/content";
import History from "@blocks/history";
import processMarkdown from "@utils/markdown";
import Logos from '@blocks/logos';
import Stores from '@parts/stores'

let Block = Content;
let classes = ["block", `theme-${Astro.props.theme.toLocaleLowerCase()}`];

switch (Astro.props.type) {
	case "staff":
		Block = Team;
		classes.push("team");
		break;
	case "history":
		Block = History;
		classes.push("history");
		break;
	case "content":
		classes.push("split");
		break;
	case 'logos':
		Block = Logos;
		break;
	case 'stores':
		Block = Stores;
		break;
}

const data = Astro.props;

data.content = {
	markdown: Astro.props.content,
	html: processMarkdown(Astro.props.content),
};

data.leading = {
	markdown: Astro.props.leading,
	html: processMarkdown(Astro.props.leading),
};
---

<style lang="scss">
	.block {
		padding: 40px 20px;
		color: var.$secondary;
		text-align: center;
		position: relative;

		:global(h2), :global(h3) {
			font-size: 1.8em;
			color: inherit;
		}

		&:before {
			display: block;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			width: 100vw;
			z-index: -2;
		}

		&.theme-dark {
			color: var.$background;

			&:before {
				content: "";
				background: var.$secondary;
			}
		}

		&.theme-light {
			&:before {
				content: "";
				background: var.$background;
			}
		}
	}

	@media (min-width: 50em) {
		.block {
			padding: 40px;

			&.split {
				display: flex;
				text-align: left;
				justify-content: center;
				align-items: center;
			}
		}
	}

	@media (min-width: 60em) {
		.block {
			padding: 60px 5vw;

			:global(h2) {
				font-size: 2.3em;
			}
		}
	}

	@media (min-width: 80em) {
		.block {
			padding: 100px calc(50vw - 500px);

			&.team {
				padding: 100px calc(50vw - 600px);
			}
		}
	}
</style>

<section id={data?.id} class={classes.join(" ")}>
	<Block {...data} />
</section>
