---
import { Picture } from "@astrojs/image/components";
import SVG from "@parts/svg.astro";

const { profiles } = Astro.props;
---

<style lang="scss">
	.profiles {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		li {
			position: relative;
			z-index: 2;
			padding: 10px;
			margin: 10px 0;
			flex: 1 0 auto;
		}

		img {
			width: 150px;
		}
	}

	.person {
		&:before {
			content: "";
			left: 0;
			right: 0;
			top: 100px;
			height: 60px;
			background: var.$secondary;
			display: block;
			position: absolute;
			z-index: -1;
		}

		img {
			filter: grayscale(1);
		}

		h3 {
			visibility: hidden;
			margin: 10px 0 0;
		}

		&:hover {
			img {
				filter: grayscale(0);
			}

			h3 {
				visibility: visible;
			}
		}
	}

	.content {
		overflow: auto;
	}

	@media (min-width: 60em) {
		.profiles {
			li {
				padding: 10px;
				margin: 10px 0;
				flex: 1 1 100px;
			}

			img {
				width: 100%;
			}
		}

		.person {
			&:before {
				content: "";
				top: 35%;
				height: calc(40% - 2em);
				left: -20px;
				right: -20px;
			}
		}
	}
</style>

<ul class="profiles">
	{
		profiles.map((profile) => (
			<li class="person">
				<Picture
					src={profile.frontmatter.photo.replace("/public/", "/")}
					alt={profile.frontmatter.title}
					widths={[200]}
					aspectRatio="4:5"
					formats={["avif", "webp", "png"]}
				/>
				<h3>{profile.frontmatter.title}</h3>
			</li>
		))
	}
</ul>
