---
import Layout from "@layouts/home";
import Banner from "@parts/banner";
import Block from "@parts/block";
import content from "@data/home.json";

const stores = await Astro.glob("../../context/stores/*.json");

const { title, banner, sections } = content;
---

<Layout content={content}>
	<h1 class="sr-only">{title}</h1>
	<Banner content={banner} />
	{sections.map((section) => <Block {...section} />)}
	<Block
		{...{
			id: "book-now",
			type: 'stores',
			version: 'small',
			theme: 'dark',
			title: 'Find us'
		}}
	/>
</Layout>
