		<footer id="footer">
			<div class="footer__holder">
				<div class="container container--with-layout">
					<div class="footer__left-col">
						<div class="footer-logo">
                        <a href="#"><img src="/assets/images/footer-logo.png" alt="innovative eye care"></a>
						</div>
						<p>&copy; 2016 <a href="#">Innovative Eye Care Pty Ltd</a> All rights reserved.</p>
					</div>
					<div class="footer__info">
						<div class="footer__col">
							<strong class="footer__info__title">ADELAIDE CITY</strong>
							<address class="footer__address">
								<span>60 Hutt Street</span>
								<span>Adelaide, SA 5000</span>
								<span class="footer__tel"><a href="tel:0882319341">(08) 8231 9341</a></span>
							</address>
						</div>
						<div class="footer__col">
							<strong class="footer__info__title">WOODVILLE</strong>
							<address class="footer__address">
								<span>850 Port Road</span>
								<span>Woodville, SA 5011</span>
								<span class="footer__tel"><a href="tel:0884459050">(08) 8445 9050</a></span>
							</address>
						</div>
						<div class="footer__col">
							<ul class="socials-list socials-list--on-absolute-in-footer socials-list--small">
                                <li><a href="https://www.facebook.com/innovativeeyecareadelaide"><i class="icon-facebook"></i><span class="hidden">facebook</span></a></li>
                                <li><a href="http://instagram.com/innovative_eyecare"><i class="icon-instagramm"></i><span class="hidden">instagram</span></a></li>
                                <li><a href="https://twitter.com/iecadelaide"><i class="icon-twitter"></i><span class="hidden">twitter</span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="footer__bottom">
				<div class="container container--with-layout">
					<ul class="partners-list">
                    <li><img src="/assets/images/partner-logo01.jpg" alt="optometry australia member"></li>
                    <li><img src="/assets/images/partner-logo02.jpg" alt="cornea &amp; contact lens society of australia"></li>
                    <li><img src="/assets/images/partner-logo03.jpg" alt="cornea &amp; contact leans society"></li>
                    <li><img src="/assets/images/partner-logo04.jpg" alt="orthokeratology society of oceania"></li>
                    <li><img src="/assets/images/partner-logo05.jpg" alt="IAO"></li>
					</ul>
				</div>
			</div>
		</footer>
	</div>
</body>
</html>
