<div class="navbar">
<div class="header__container">
<div class="navbar__logo"><a href="/"><img src="/images/logo.svg" alt="innovative eye care"></a></div>
<a href="#" class="navbar__opener"><span></span> <strong class="hidden">opener</strong></a>
<div class="navbar__slide">
<div class="navbar__slide__holder">
<a href="#" class="navbar__opener navbar__opener--close"><span></span> <strong class="hidden">opener</strong></a>
<div class="navbar__contact-info navbar__contact-info--in-slide">
</div>
<ul class="main-nav main-nav--floated-left">

{{ $currentPage := . }}
{{ range .Site.Menus.main }}
	{{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}
		<li class="active">
			<a href="{{ .URL }}">
				{{ .Pre }}
				<span>{{ .Name }}</span>
			</a>
		</li>
	{{ else }}
		<li>
			<a href="{{ .URL }}">
				{{ .Pre }}
				<span>{{ .Name }}</span>
			</a>
		</li>
	{{ end }}
{{ end }}

<li><a href="http://eyesolutions.com.au/">Shop</a></li>
</ul>
</div>
</div>
</div>
</div>
</header>
