<div class="navbar">
<div class="header__container">
<div class="navbar__logo"><a href="/"><img src="/assets/images/logo.svg" alt="innovative eye care"></a></div>
<a href="#" class="navbar__opener"><span></span> <strong class="hidden">opener</strong></a>
<div class="navbar__slide">
<div class="navbar__slide__holder">
<a href="#" class="navbar__opener navbar__opener--close"><span></span> <strong class="hidden">opener</strong></a>
<div class="navbar__contact-info navbar__contact-info--in-slide">
<ul class="navbar__contact-list">
<li>
<span class="navbar__contact-list__item">
<i class="icon-call-answer"></i> <span class="navbar__contact-list__title">City</span> <a href="tel:0882319341">(08) 8231 9341</a>
</span>
</li>
<li>
<span class="navbar__contact-list__item">
<i class="icon-call-answer"></i> <span class="navbar__contact-list__title">Woodville</span> <a href="tel:0884459050">(08) 8445 9050</a>
</span>
</li>
</ul>
</div>
<ul class="main-nav main-nav--floated-left">
<li><a href="/">Home</a></li>
<li ><a href="/who-we-are/">Who We Are</a></li>
<li ><a href="/what-we-do/">What We Do</a></li>
<li ><a href="/patient-resources/">Patient Resources</a></li>
<li ><a href="/contact/">Contact</a></li>
<li ><a href="/blog/">Blog</a></li>
<li><a href="http://eyesolutions.com.au/">Shop</a></li>
</ul>
</div>
</div>
<div class="navbar__contact-info navbar__contact-info--on-absolute navbar__contact-info--floated-right">
<ul class="navbar__contact-list">
<li><i class="icon-call-answer"></i> <span class="navbar__contact-list__title">City</span> <a href="tel:0882319341">(08) 8231 9341</a></li>
<li><i class="icon-call-answer"></i> <span class="navbar__contact-list__title">Woodville</span> <a href="tel:0884459050">(08) 8445 9050</a></li>
</ul>
</div>
</div>
</div>
</header>
