{{ partial "header.html" . }}

{{ partial "topnav.html" . }}

<div class="content-section location-section" style="background-image: url(/images/img04.jpg);">
<div class="container">
<div class="content-section__haeding">
<div class="contact-heading"><h1>Our Locations</h1></div>
Innovative Eye Care has two convenient locations in South Australia - Hutt Street, Adelaide and Port Road, Woodville.
</div>
<div class="location">
<div class="location__item">
<div class="location__vid">
<video class="video-js vjs-default-skin vjs-big-play-centered" controls preload="auto" poster="/images/city-video.jpg" data-setup='{"fluid":true}'>
<source src="/videos/location-city.mp4" type='video/mp4' />
</video>
</div>
<address class="location__address">
<a href="/contact/">
<h2 class="location__title">ADELAIDE CITY</h2>
<span class="location__text">60 Hutt Street <br/> ADELAIDE SA 5000</span>
</a>
<a href="tel:0882319341" class="location__phone">Phone: (08) 8231 9341</a>
<span class="location__text"><b>Monday - Friday</b> 8.30 am - 5.30 pm <br/> <b>Saturday</b> 8.30 am - 12 pm</span>
<a href="mailto:&#104;&#117;&#116;&#116;&#115;&#116;&#114;&#101;&#101;&#116;&#064;&#105;&#110;&#110;&#111;&#118;&#097;&#116;&#105;&#118;&#101;&#101;&#121;&#101;&#099;&#097;&#114;&#101;&#046;&#099;&#111;&#109;&#046;&#097;&#117;" class="location__email">&#104;&#117;&#116;&#116;&#115;&#116;&#114;&#101;&#101;&#116;&#064;&#105;&#110;&#110;&#111;&#118;&#097;&#116;&#105;&#118;&#101;&#101;&#121;&#101;&#099;&#097;&#114;&#101;&#046;&#099;&#111;&#109;&#046;&#097;&#117;</a>
<br><br>
<div class="1stAvailableWidget widget" id="2798" style="cursor:pointer;"> <p class = "btn btn-primary" style="text-align:center;"> <i class="fa fa-calendar" aria-hidden="true"></i> Book Online Now</p> </div>
</address>
</div>
<div class="location__item">
<div class="location__vid">
<video class="video-js vjs-default-skin vjs-big-play-centered" controls preload="auto" poster="/images/woodville-video.jpg" data-setup='{"fluid":true}'>
<source src="/videos/location-woodville.mp4" type='video/mp4' />
</video>
</div>
<address class="location__address">
<a href="/contact/">
<h2 class="location__title">Woodville</h2>
<span class="location__text">850 Port Road <br/> WOODVILLE SA 5011</span>
</a>
<a href="tel:0884459050" class="location__phone">Phone: (08) 8445 9050</a>
<span class="location__text"><b>Monday - Friday</b> 9.00 am - 5.30 pm<br><br></span>
<a href="mailto:&#119;&#111;&#111;&#100;&#118;&#105;&#108;&#108;&#101;&#064;&#105;&#110;&#110;&#111;&#118;&#097;&#116;&#105;&#118;&#101;&#101;&#121;&#101;&#099;&#097;&#114;&#101;&#046;&#099;&#111;&#109;&#046;&#097;&#117;" class="location__email">&#119;&#111;&#111;&#100;&#118;&#105;&#108;&#108;&#101;&#064;&#105;&#110;&#110;&#111;&#118;&#097;&#116;&#105;&#118;&#101;&#101;&#121;&#101;&#099;&#097;&#114;&#101;&#046;&#099;&#111;&#109;&#046;&#097;&#117;</a>
<br><br>
<div class="1stAvailableWidget widget" id="2797" style="cursor:pointer;"> <p class = "btn btn-primary" style="text-align:center;"> <i class="fa fa-calendar" aria-hidden="true"></i> Book Online Now</p> </div>
</address>
</div>
</div>
</div>
</div>
<div class="content-section online-book-section" style="background-image: url(/images/img38.jpg);">
<div class="container">
<div class="online-box">
<div class="online-box-heading">
<h2>Book Online - It’s easy</h2>
</div>
<p>We’ve made it super easy to schedule your next appointment with our online booking system.</p>
<p>Just pick a location above and click the "Book Online Now" button.</p>
</div>
</div>
</div>
{{ partial "footer.html" . }}