@mixin button {
	font-family: var.$font_heading;
	background: var.$primary;
	color: var.$white;
	text-decoration: none;
	display: inline-block;
	padding: 0.5em 1.5em;
	border-radius: 0.2em;
	font-weight: 600;
	border: 0.1em solid var.$primary;
	cursor: pointer;

	&:hover {
		background: var.$white;
		color: var.$primary;
	}
}

@mixin clip_lines($lines: 3) {
	text-overflow: ellipsis;
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: $lines;
		-webkit-box-orient: vertical;

		:global(> *:not(:first-child)) {
			display: none;
		}

		:global(> div:first-child) {
			:global(> *:not(:first-child)) {
				display: none;
			}
		}

		:global(p) {
			&:first-child {
				margin-top: 0;
			}
		}
}